html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: rgb(157, 190, 187, 0.5); /* Color de fondo con transparencia 0.6 */
}

.main-container {
  flex: 1; /* El contenedor principal se expandirá para ocupar todo el espacio restante */
  padding-top: 20px; /* Ajusta el relleno superior según sea necesario */
  margin-bottom: 60px;
}

/* Otros estilos según tu diseño y componentes */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.footer {
  color: white;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
